<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>商品大类</title>
    <link rel="stylesheet" href="../../layui/css/layui.css">
    <link rel="stylesheet" href="./css/big-category.css">
    <script src="../../js/jquery-1.10.1.js"></script>
</head>
<body>

<div id="app">
    <!-- 搜索部分 -->
    <header>
        <form id="searchForm" class="layui-form">
            <div class="layui-form-item">
                <label class="layui-form-label">关键字</label>
                <div class="layui-input-inline">
                    <input id="keyWord" type="text" name="keyWord" class="layui-input">
                </div>
                <button onclick="searchProductBigCatByCondition()" type="button" class="layui-btn">搜索</button>
            </div>
        </form>
    </header>

    <!-- 数据显示部分 -->
    <section>
        <div class="content-body">
            <table class="layui-hide" id="BigCategoryTable" lay-filter="BigCategoryTableFilter"></table>
        </div>
    </section>
</div>


<!-- 表格工具栏部分 -->
<script type="text/html" id="BifCategoryToolBar">
    <div class="layui-btn-container">
        <button class="layui-btn layui-btn-sm" lay-event="showAddBigCategoryInfoWin">新增</button>
        <button class="layui-btn layui-btn-sm" lay-event="showUpdateBigCategoryInfoWin">修改</button>
        <button class="layui-btn layui-btn-sm" lay-event="deleteBigCategoryInfoWin">删除</button>
    </div>
</script>

<!-- 新增商品大类窗口 -->
<div id="addBigCategoryInfoWin"
     style="width: 600px;display: none;padding: 15px 25px;">
    <form id="addBigCategoryInfoForm" class="layui-form">
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">分类编号</label>
                <div class="layui-input-inline">
                    <input type="text" name="catCode" lay-verify="required|checkCatCode" autocomplete="off"
                           class="layui-input">
                </div>
            </div>
        </div>

        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">分类名称</label>
                <div class="layui-input-inline">
                    <input type="text" name="catName" lay-verify="required" autocomplete="off" class="layui-input">
                </div>
            </div>
        </div>

        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">排序</label>
                <div class="layui-input-inline">
                    <input type="text" name="sortNo" lay-verify="required" autocomplete="off" class="layui-input">
                </div>
            </div>
        </div>

        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">备注</label>
                <div class="layui-input-inline">
                    <input type="text" name="catDesc" style="width: 350px;" lay-verify="required" autocomplete="off"
                           class="layui-input">
                </div>
            </div>
        </div>

        <div id="evalPicDef"></div>

        <div class="layui-form-item" style="margin-top: 8px;">
            <div class="layui-input-block">
                <button onclick="addSubDefDiv()" type="button" class="layui-btn layui-btn-normal">添加</button>
            </div>
        </div>

        <div class="layui-form-item" style="padding-top: 15px;">
            <div class="layui-input-block">
                <button onclick="addBigCategoryInfo()" type="button" class="layui-btn" lay-submit=""
                        lay-filter="addBigCategoryBtn">立即提交
                </button>
                <button type="button" class="layui-btn layui-btn-primary">重置</button>
            </div>
        </div>
    </form>
</div>

<!-- 修改商品大类窗口 -->
<div id="updateBigCategoryInfoWin" style="width: 600px;padding: 15px 25px;display: none;">
    <form id="updateBigCategoryInfoForm" lay-filter="updateBigCategoryInfoFilter"  class="layui-form">
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">分类编号</label>
                <div class="layui-input-inline">
                    <input type="text" name="catCode" lay-verify="required|checkCatCode" autocomplete="off"
                           class="layui-input">
                </div>
            </div>
        </div>

        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">分类名称</label>
                <div class="layui-input-inline">
                    <input type="text" name="catName" lay-verify="required" autocomplete="off" class="layui-input">
                </div>
            </div>
        </div>

        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">排序</label>
                <div class="layui-input-inline">
                    <input type="text" name="sortNo" lay-verify="required" autocomplete="off" class="layui-input">
                </div>
            </div>
        </div>

        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">备注</label>
                <div class="layui-input-inline">
                    <input type="text" name="catDesc" style="width: 350px;" lay-verify="required" autocomplete="off"
                           class="layui-input">
                </div>
            </div>
        </div>

        <div id="updateEvalPicDef"></div>

        <div class="layui-form-item" style="margin-top: 8px;">
            <div class="layui-input-block">
                <button onclick="addUpdateSubDefDiv()" type="button" class="layui-btn layui-btn-normal">添加</button>
            </div>
        </div>

        <div class="layui-form-item" style="padding-top: 15px;">
            <div class="layui-input-block">
                <button onclick="updateBigCategoryInfo()" type="button" class="layui-btn" lay-submit=""
                        lay-filter="updateBigCategoryBtn">更新
                </button>
                <button type="button" class="layui-btn layui-btn-primary">重置</button>
            </div>
        </div>
    </form>
</div>

<!-- less、layui、自定义 js -->
<script src="https://cdn.bootcdn.net/ajax/libs/less.js/3.11.1/less.js"></script>
<script src="../../layui/layui.all.js"></script>
<script src="./js/big-category.js"></script>
</body>
</html>