server:
  port: 80
spring:
  application:
    name: pawn-system
  datasource:
    type: com.alibaba.druid.pool.DruidDataSource
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://127.0.0.1:3307/pawn?characterEncoding=utf8&useSSL=false&serverTimezone=UTC&rewriteBatchedStatements=true
    username: root
    password: cqsz0527

mybatis:
  type-aliases-package: com.dreams.sys.po
  mapperLocations: classpath:mapper/sys/*.xml,mapper/base/*.xml,mapper/product/*.xml

pagehelper:
  helper-dialect: mysql
  reasonable: true
  support-methods-arguments: true
  params: count=countSql


