body {
  margin: 0;
  padding: 0;
  background-color: gainsboro;
}
body #app {
  padding: 15px;
}
body #app header {
  background-color: #fff;
  height: 50px;
  margin-bottom: 10px;
}
body #app header .layui-form-item {
  padding-top: 5px;
}
body #app section {
  background-color: #fff;
}
body #app section .content-body {
  padding: 8px;
}
#addWareHouseInfoWin {
  width: 550px;
  background-color: #fff;
  font-size: 16px;
  font-weight: 600;
  display: none;
  padding: 10px 20px;
}
#updateWareHouseInfoWin {
  width: 600px;
  background-color: #fff;
  font-size: 16px;
  font-weight: 600;
  display: none;
  padding: 10px 20px;
}
